<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219467608286-r7d0ck0bp9j5kk59rb28khfoic988gn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219467608286-r7d0ck0bp9j5kk59rb28khfoic988gn6</string>
	<key>API_KEY</key>
	<string>AIzaSyBPB2gwWhJPJvr6p25Q-hOsH8vcCUvYyQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>219467608286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rumblewayne.DN--0-Design</string>
	<key>PROJECT_ID</key>
	<string>harrythesis-44348</string>
	<key>STORAGE_BUCKET</key>
	<string>harrythesis-44348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219467608286:ios:5135cd8ff3b8ab0458924f</string>
</dict>
</plist>