<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095886914576-kc2dp6lep7srrjuae28sfjbg7p38tj1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095886914576-kc2dp6lep7srrjuae28sfjbg7p38tj1h</string>
	<key>API_KEY</key>
	<string>AIzaSyC-tK9LlfGuEIL3QrCNWexzpFkppMFWduQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1095886914576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rumblewayne.DN--0-Design</string>
	<key>PROJECT_ID</key>
	<string>hp-thesis</string>
	<key>STORAGE_BUCKET</key>
	<string>hp-thesis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095886914576:ios:98d66d96a0a144e0f1f695</string>
</dict>
</plist>